@import "../../variables.scss";
.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 15px;
  background-color: $blue-color;
  color: white;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 700;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid $primary-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}